In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\brandon del munddo\desktop\repos\bcgx genai forage\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [11]:
df = pd.read_csv('BCGX-Forage Correction.csv')

In [12]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [13]:
df

,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,Microsoft,281724000000,101832000000,411976000000,205753000000,87582000000,NaN,NaN
1,Microsoft,245122000000,88136000000,512163000000,243686000000,118548000000,-12.992148,-13.449603
2,Microsoft,211915000000,72361000000,619003000000,275524000000,136162000000,-13.547132,-17.898475
3,Tesla,81462000000,12587000000,82338000000,36440000000,14724000000,NaN,NaN
4,Tesla,96773000000,14974000000,106618000000,43009000000,13256000000,18.795267,18.964010
5,Tesla,97690000000,7153000000,122070000000,48390000000,14923000000,0.947578,-52.230533
6,Apple,383285000000,96995000000,352583000000,290437000000,110543000000,NaN,NaN
7,Apple,391035000000,93736000000,364980000000,308030000000,118254000000,2.021994,-3.359967
8,Apple,416161000000,112010000000,359241000000,285508000000,111482000000,6.425512,19.495178